@import 'main';

.container {
    min-height: 106px;
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.main-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.info {
    min-height: 222px;
    max-width: 635px;
    width: 100%;
}
.pictures {
    display: flex;
    justify-content: space-between;
}
.row {
    min-height: 42px;
    min-width: 335px;
    border-bottom: 2px solid #D8D8D8;
    display: flex;
    align-items: center;
    /*add spec. font*/
}
.description {
    color: #979797;
}
.one {
    padding-right: 77px;
}
.two {
    padding-right: 77px;
}
.three {
    padding-right: 87px;
}
.four {
    padding-right: 40px;
}
.five {
    padding-right: 99px;
}
.six {
    padding-right: 96px;
}